<h1>Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>
<div [ngClass]="{border:false,background:true}">ngClass</div>
<div [class.border]="true">class.border</div>
<div [ngStyle]="{'background-color': 'blue'}">ngStyle</div>
<hr>
<h2>Custom Attribute Directive</h2>
<div highlight [highlightColor]="'yellow'" [defaultColor]="'white'">Highlight directive yellow effect</div>
<div highlight [defaultColor]="'blue'">Highlight directive red effect</div>
<div highlight>Default</div>
<hr>
<h1>Structural Directives</h1>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional Text</div>
<button (click)="onSwitch()">Toggle switch</button>
